body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}
.quantity-body {
    width: 400px;
    height: 150px;
    position: absolute;
    background-color: grey;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.QUANTITY-CONVERTER {
    text-align: center;
    margin: 13px 0px;
    font-size: 40px;
    color: cyan;

}

#inputValue {
    height: 20px;
    text-align: center;
    border: 1px solid black;
}

#inputValue {
    margin-left: 25px;
}

#inputUnit, #outputUnit {
    width: 150.00px;
    margin-left: 25px;
    color: red;
    border: 1px solid black;
}

#outputUnit {
    margin-right: 1.5px;

}

#outputValue {
    height: 20px;
    margin-right: 1.5px;
    text-align: center;
    border: 1px solid black;
}

#unitType {
    width: 150.00px;
    margin-left: 25px;
    color: red;
    border: 1px solid black;
    margin-right: 25px;
}

#UnitTyped {
    width: 150.00px;
    text-align: center;
    margin-left: 25px;
    color: red;
    border: 1px solid black;
    margin-right: 25px;
}
